# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Editors
.vscode/
.idea/
*.swp

# Python (скрипты подготовки картинок)
__pycache__/
*.pyc
assets/img/gen_raw/
photo_5465209802876196763_x.jpg
кварцвинил.png
ламинат.png
паркет инженерная доска.png
кварцпаркет.png
